<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>

    <body>
        <h1>Welcome to login page!</h1>

        <form method="post" action="/login">
            <input name="_csrf" value="{{_csrf.token}}" type="hidden"/>
            <div>
                <label>Username: <input name="username" type="text" placeholder="username..."/></label>
            </div>
            <div>
                <label>Password: <input name="password" type="password" placeholder="password..."/></label>
            </div>
            <div>
                <button type="submit">Sign in!</button>
            </div>
        </form>

        <p>Click <a href="/registration">here</a> to sign up!</p>

    </body>
</html>